.idea
*.iml
*.pyc
out
gen
data
build
dist
/build/
/data/
/dist/
/__pycache__/
.gitattributes

*.pickle
*.txt
*.xlsx
*.html
*.pkl
*_DEBUG.py
*_OLD.py
*.jpg
*.png
/PickleFiles/BosforAllApartmentsInfo.pkl
/token.json
/Utility/MyataPass.py
/Cookies
/FirefoxCookies
!/Cookies/.gitkeep
!/req.txt
/Design/TEST_UI.py
/Design/UI.ui
/server
/output/
exeConfig.json
*Pass.py
Utility/SKGammaPass.py

Parsesrs/Developers/RomexTest.py


Parsesrs/Developers/k1r9n.py

Design/TEST_UI2.py
Design/UI2.ui
geckodriver.log
*.csv
tmp/New_МСК Ростов.xls
tmp/МСК Ростов.xls
*.xls
*.crdownload
*.zip
geckodriver.exe
*.rar
data.json
